<div class="container">
  <div class="card">
    <h3>Your Address : {{address}}</h3>
    <h1>Payment: Cash On Delivery</h1>

      <h1>Products:</h1>
      <mat-card class="example-card" *ngFor="let item of product" >
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{item.name}}</mat-card-title>
            <mat-card-subtitle>{{item.category}}   ID:{{item.prodId}}</mat-card-subtitle>
            <img mat-card-sm-image src={{item.image}} >
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>Rs. {{item.price}}</p>
        </mat-card-content>
      </mat-card>
      <br/>
      <h2>Total Price: Rs. {{totalPrice}}</h2>
      <br/><br/>
      <button mat-flat-button class="search-btn" (click)="placeOrder()" type="submit" >Place order</button>


  </div>
</div>
